@import url(_variables.scss);
* {
  margin: 0;
  padding: 0; }

/*                                             header                                        */
#grillaPrincipal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
  background-image: linear-gradient(to left, #f5f4df, #c6dde2); }

header {
  background-color: #121C4A;
  display: flex; }

footer {
  background-color: #121C4A; }

#logoHistorias {
  width: 80px;
  height: 80px; }

/* Menu de navegacion */
#navBar {
  background-color: #121C4A;
  margin-bottom: 0; }

.bg-light {
  --bs-bg-opacity: 0; }

a:-webkit-any-link {
  color: #AEB8E3;
  cursor: pointer;
  text-decoration: none; }

/*                                    Main                                 */
.textoEnFoto {
  background-image: url(../Images/puentesydney.jpeg);
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
  width: 100%; }

.textoEnTexto {
  text-align: center;
  color: #AEB8E3;
  padding-top: 1px;
  padding-bottom: 500px; }

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers';
  -webkit-text-stroke: 2px black;
  color: #AEB8E3;
  padding: 20px 0px 20px 0px; }

/* Seccion entrevistas */
.contenedorDeContenedor {
  width: 100%;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px; }

.contenedorMaquina {
  margin: auto;
  display: table; }

.tituloMaquina {
  position: relative;
  float: left;
  background: white;
  color: black;
  font-family: monospace; }

.tituloMaquina span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #000;
  animation: escribir 5s steps(12) infinite alternate; }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0%; } }

#tituloEntrevistasIndex {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 50px; }

.conteinerNotasIndex {
  display: flex; }

.imgNotasIndex {
  width: auto;
  height: 190px; }

.buttonIr, .buttonCompartir {
  border: solid 1px #121C4A;
  background-color: #FFF;
  color: #121C4A;
  padding: .375rem .75rem;
  margin-bottom: 5px; }

.buttonCompartir {
  color: #FFF;
  background-color: #121C4A;
  margin-bottom: 5px; }

/* -----------------------------------seccion podcast ---------------------------------- */
.contenedorDeContenedor {
  width: 100%;
  background-color: white;
  grid-area: titulo;
  padding-bottom: 30px;
  padding-top: 30px; }

.contenedorMaquina {
  margin: auto;
  display: table; }

.tituloMaquina {
  position: relative;
  float: left;
  background: white;
  color: black;
  font-family: monospace; }

.tituloMaquina span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #000;
  animation: escribirUno 5s steps(8) infinite alternate; }

@keyframes escribirUno {
  from {
    width: 100%; }
  to {
    width: 0%; } }

.podcast {
  height: 100px;
  padding-top: 30px; }

.podcast iframe {
  height: 80px;
  border: none;
  border-radius: 5%;
  box-shadow: 5px 5px 5px; }

/* -------------------------SECCION TRABAJOS------------------------------------ */
.contenedorDeContenedor {
  width: 100%;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px; }

.contenedorMaquina {
  margin: auto;
  display: table; }

.tituloMaquina {
  position: relative;
  float: left;
  background: white;
  color: black;
  font-family: monospace; }

.tituloMaquina span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #000;
  animation: escribirDos 5s steps(9) infinite alternate; }

@keyframes escribirDos {
  from {
    width: 100%; }
  to {
    width: 0%; } }

#carousel {
  margin-bottom: 50px; }

/* ---------------------------SECCION FORM -------------------------------------- */
#newsletterHome {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px; }

#newsletterHome p {
  font-size: 50px; }

/* -------------------------------FOOTER------------------------------------------------------- */
footer {
  height: 90px;
  background-image: linear-gradient(to left, black, #121C4A);
  color: #AEB8E3;
  padding: 20px 10px; }

footer a {
  color: white;
  text-decoration: none; }

.imgFooter {
  height: 50px;
  width: 50px;
  margin: 10px 10px 0px 10px; }

.divFooter {
  height: 100%; }

/* ----------------------------------////CONTACTO/////---------------------------------- */
.mainContacto {
  background-image: linear-gradient(to left, #f5f4df, #c6dde2); }

.tituloContacto {
  text-align: center; }

#fotoMadrid {
  width: 100%;
  margin-bottom: 80px; }

form {
  margin-bottom: 30px; }

/* -----------------------------------///////BLOG///////--------------------------------------------- */
.mainBlog {
  background-image: linear-gradient(to left, #f5f4df, #c6dde2); }

.imagenBlogNota {
  margin: 0 auto;
  padding: 12px 20px 12px 32px; }

.conteinerBlog {
  border: 1px black;
  border-style: solid;
  margin: 2% 2% 2% 2%;
  border-radius: 3px;
  display: flex;
  margin-bottom: 50px;
  background-image: linear-gradient(to right, #f5f4df, #c6dde2); }

.parrafoBlog {
  padding: 10px 4px 10px 8px; }

.tituloBlogNotas {
  padding: 10px 4px 10px 8px; }

.btn {
  margin-bottom: 10px; }

#iframeSpoty {
  grid-area: notaCuatro;
  width: 80%; }

#podcastBlog {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; }

.alertaGracias {
  color: white;
  background-color: green; }

/* -----------------------------------///////MULTIMEDIA///////--------------------------------------------- */
#grillaMultimedia {
  padding-top: 75px;
  height: auto;
  width: 100%;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to left, #f5f4df, #c6dde2); }

.foto {
  width: 100%;
  height: 100%; }

.foto:hover {
  transform: scale(1.5, 1.5); }

#newYork {
  grid-area: foto1; }

#tokio {
  grid-area: foto2; }

#valencia {
  grid-area: foto3; }

#venecia {
  grid-area: foto4; }

#iframeUno {
  grid-area: video1;
  width: 100%; }

#iframeDos {
  grid-area: video2;
  width: 100%; }

#berlin {
  grid-area: foto5; }

#buenosAires {
  grid-area: foto6; }

#egipto {
  grid-area: foto7; }

#machuPichu {
  grid-area: foto8; }

#otawa {
  grid-area: foto9; }

.iframeMultimedia {
  height: 300px; }

.alertaGraciasMultimedia {
  color: blue;
  background-color: yellow; }

/* -----------------------------------///////SERVICIOS///////--------------------------------------------- */
#grillaServicios {
  display: grid;
  column-gap: 65px;
  row-gap: 45px;
  justify-content: center;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(to left, #f5f4df, #c6dde2); }

.fotoServicios {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  object-fit: cover; }

#divFotografia {
  grid-area: texto1;
  font-size: 20px; }

#divFotografia h2 {
  text-align: center;
  margin-top: 10px; }

#fotografoFoto {
  grid-area: foto1;
  height: 100%;
  width: 100%;
  object-fit: cover; }

#divRedaccion {
  grid-area: texto2;
  font-size: 20px; }

#divRedaccion h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }

#redaccionFoto {
  grid-area: foto2; }

.miniGrilla {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 100%;
  grid-template-areas: "fotopremio textopremio";
  justify-content: center;
  height: 180px;
  padding-top: 15px; }

.nombrePremio {
  grid-area: textopremio;
  font-size: 20px;
  font-weight: bolder;
  align-self: flex-start;
  padding-top: 25px; }

.imagenPremio {
  grid-area: fotopremio;
  height: 50%; }

.tituloPaginasNotas {
  color: black;
  font-size: 5vw;
  width: 70%;
  margin: 40px auto; }

.parrafoNotas {
  margin: 30px auto;
  width: 80%; }

.subtituloNotas {
  margin: 0 auto;
  width: 80%; }

.fotoNota {
  width: 80%;
  margin: auto 10%; }

@media only screen and (max-width: 600px) {
  #grillaGral {
    grid-template-rows: 1,86fr 25,3fr 1fr; }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  nav {
    background-color: #AEB8E3;
    width: 100%;
    height: 100%; }
  nav ul {
    display: block;
    position: relative;
    font-size: 30px;
    text-align: center;
    align-items: center; }
  #tituloBlog {
    margin-bottom: 20px;
    font-family: 'Bangers', cursive; }
  /* -------------------------------MAIN------------------------------------------ */
  .tituloTrabajos {
    margin-top: 100px; }
  .conteinerNotasIndex {
    flex-direction: column;
    align-items: center; }
  .card {
    margin-bottom: 20px; }
  /* --------------------------------SECCION PODCAST------------------------------------ */
  #divPodcastMobile {
    text-align: center; }
  .podcast {
    padding-bottom: 140px; }
  h3 {
    margin-bottom: 20px; }
  /* -------------------------SECCION TRABAJOS------------------------------------ */
  .imgCarrousel {
    max-width: 45%;
    height: auto; }
  /* -------------------------------FOOTER---------------------------------------------- */
  .imgFooter {
    height: 30px;
    width: 30px;
    margin: 10px 10px 0px 10px; }
  .textoFooter p {
    font-size: 10px; }
  /* ---------------------------/////CONTACTO///// -------------------------------------- */
  #fotoMadrid {
    margin-bottom: 40px; }
  /* -----------------------------------///////BLOG///////--------------------------------------------- */
  .conteinerBlog {
    flex-direction: column; }
  .imagenBlogNota {
    width: 90%;
    height: 40%; }
  /* -----------------------------------///////MULTIMEDIA///////--------------------------------------------- */
  #grillaMultimedia {
    grid-template-columns: 100%;
    grid-template-rows: 11fr;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "video1" "video2" "foto5" "foto6" "foto7" "foto8" "foto9"; }
  #multimediaTitulo {
    width: 50%; }
  /* -----------------------------------///////SERVICIOS///////--------------------------------------------- */
  #grillaServicios {
    grid-template-columns: 80%;
    grid-template-rows: 400px 600px 600px 600px;
    grid-template-areas: "foto1" "texto1" "foto2" "texto2"; }
  #divRedaccion h2 {
    margin-bottom: 1px;
    margin-top: 1px; }
  #fotografoFoto {
    grid-area: foto1;
    height: 80%;
    width: 100%; }
  #redaccionFoto {
    height: 80%; } }

@media only screen and (min-width: 601px) {
  #grillaGral {
    grid-template-rows: 1,3fr 24fr 1fr; }
  header {
    justify-content: center;
    align-items: center; }
  nav {
    background-color: #121C4A;
    width: 100%; }
  nav ul {
    display: flex;
    position: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 18px;
    padding-top: 3%;
    margin-right: 25%;
    width: 100%; }
  /* -------------------------------main-------------------------------- */
  .conteinerNotasIndex {
    flex-direction: column;
    align-items: center; }
  .card {
    margin-bottom: 20px; }
  /* --------------------------------SECCION PODCAST------------------------------------ */
  #divPodcastMobile {
    text-align: center;
    height: auto; }
  .podcast {
    padding-bottom: 50px;
    height: auto; }
  .logosTrabajos {
    padding-right: 10px; }
  /* -------------------------SECCION TRABAJOS------------------------------------ */
  .imgCarrousel {
    max-width: 70%;
    height: auto; }
  /* ---------------------------/////SECCION CONTACTO///// -------------------------------------- */
  #fotoMadrid {
    height: 450px; }
  /* -----------------------------------///////BLOG///////--------------------------------------------- */
  .conteinerBlog {
    flex-direction: column; }
  .imagenBlogNota {
    width: 90%;
    height: 40%;
    object-fit: cover; }
  /* -----------------------------------///////MULTIMEDIA///////--------------------------------------------- */
  #grillaMultimedia {
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 150px 300px 150px 250px;
    grid-template-areas: "foto1 foto2 foto3 foto4" "video1 video1 video2 video2" "foto5 foto6 foto7 foto8" "foto9 foto9 foto9 foto9"; }
  /* -----------------------------------///////SERVICIOS///////--------------------------------------------- */
  #grillaServicios {
    grid-template-columns: 40% 40%;
    grid-template-rows: 600px 600px;
    grid-template-areas: "texto1 foto1" "foto2 texto2"; }
  #divRedaccion h2 {
    margin-bottom: 40px;
    margin-top: 40px; }
  #fotografoFoto {
    grid-area: foto1;
    height: 70%;
    width: 100%; } }

@media only screen and (min-width: 993px) {
  #grillaGral {
    grid-template-rows: 200px 2300px 150px; }
  .header {
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 4px solid black;
    justify-content: space-between; }
  .nav {
    text-align: right;
    padding: 10px; }
  .nav ul li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px; }
  .nav li a {
    list-style-type: none;
    color: #AEB8E3; }
  /* ---------------------------------MAIN---------------------------------------- */
  h1 {
    font-size: 95px; }
  .conteinerNotasIndex {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px; }
  #tituloEntrevistasIndex {
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px; }
  /* --------------------------------SECCION PODCAST------------------------------------ */
  #divPodcastMobile {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 24% 76%;
    grid-template-areas: "titulo titulo titulo" "paris londres madrid";
    justify-items: center;
    margin-bottom: 5px;
    margin-top: 60px;
    height: 400px; }
  #pcMadrid {
    grid-area: madrid; }
  #pcLondres {
    grid-area: londres; }
  #pcParis {
    grid-area: paris; }
  .tituloSeccionPodcast {
    grid-area: titulo;
    font-size: 40px;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 2cm;
    width: 100%; }
  /* -------------------------SECCION TRABAJOS------------------------------------ */
  .imgCarrousel {
    max-width: 60%;
    height: 300px; }
  .tituloTrabajos {
    text-align: center;
    font-size: 40px;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px; }
  /* ---------------------------////SECCION CONTACTO//// -------------------------------------- */
  #fotoMadrid {
    width: 90%;
    padding-left: 120px; }
  /* -----------------------------------///////BLOG///////--------------------------------------------- */
  .imagenBlogNota {
    width: 25vw;
    height: 35vh;
    margin: 0 auto;
    object-fit: cover; }
  .conteinerBlog {
    border: 1px black;
    border-style: solid;
    margin: 2% 2% 2% 2%;
    border-radius: 2%;
    display: flex;
    flex-direction: row; }
  #iframeSpoty {
    margin-top: 100px; }
  /* -----------------------------------///////MULTIMEDIA///////--------------------------------------------- */
  #grillaMultimedia {
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 150px 300px 150px 250px;
    grid-template-areas: "foto1 foto2 foto3 foto4" "video1 video1 video2 video2" "foto5 foto6 foto7 foto8" "foto9 foto9 foto9 foto9"; }
  /* -----------------------------------///////SERVICIOS///////--------------------------------------------- */
  #grillaServicios {
    grid-template-columns: 40% 40%;
    grid-template-rows: 600px 600px;
    grid-template-areas: "texto1 foto1" "foto2 texto2"; }
  #divRedaccion h2 {
    margin-bottom: 40px;
    margin-top: 40px; }
  #fotografoFoto {
    grid-area: foto1;
    height: 70%;
    width: 100%; } }
